<div class="main-container">
    <form (ngSubmit)="submitForm()" [formGroup]="loginForm" class="login-form">
        <h1 class="email-header">ToDo</h1>

        <app-email-field [emailControl]="loginValidatorService.emailControl"
                         formControlName="email"
        >
        </app-email-field>

        <input class="login-input" type="tel" formControlName="telephone">

        <app-password-field [passwordControl]="loginValidatorService.passwordControl"
                            [passwordLabel]="'Password'"
                            [passwordPlaceholder]="'Enter your password'"
                            formControlName="password"
        >
        </app-password-field>

        <mat-error *ngIf="numOfTries === MAX_NUM_OF_TRIES">
            Number of tries was exceeded. Please try again after <strong>{{ currentDelay }} ms</strong>.
        </mat-error>

        <span class="forgot-password-link" routerLink="/auth/forgotPassword">
            Forgot your password?
        </span>

        <button [disabled]="!loginForm.valid" class="login-button"
                color="primary" mat-raised-button type="submit">
            Login
        </button>

        <p class="sign-up-label">
            Don't have an account?&nbsp;<span class="login-accent" routerLink="/auth/register">Signup here.</span>
        </p>

        <div class="or-divider">
            <div class="line"></div>
            Or
            <div class="line"></div>
        </div>

        <div class="button-bar">
            <button mat-raised-button type="button" (click)="redirectToGithubOauth()">
                <ng-icon name="bootstrapGithub"></ng-icon>
                Login with Github
            </button>

            <button mat-raised-button type="button" color="primary" (click)="redirectToGoogleOauth()">
                <ng-icon name="bootstrapGoogle"></ng-icon>
                Login with Google
            </button>
        </div>
    </form>
</div>
