<div class="main-container">
    <form (ngSubmit)="submitForm()" [formGroup]="loginForm" class="login-form">
        <h1 class="email-header">ToDo</h1>

        <app-email-field [emailControl]="loginValidatorService.emailControl"
                         formControlName="email"
        >
        </app-email-field>

        <input class="login-input" type="tel" formControlName="telephone">

        <app-password-field [passwordControl]="loginValidatorService.passwordControl"
                            [passwordLabel]="'Password'"
                            [passwordPlaceholder]="'Enter your password'"
                            formControlName="password"
        >
        </app-password-field>

        <mat-error *ngIf="numOfTries === MAX_NUM_OF_TRIES">
            Number of tries was exceeded. Please try again after <strong>{{ currentDelay }} ms</strong>.
        </mat-error>

        <div class="forgot-password-label">
            <button routerLink="/auth/forgotPassword" mat-button type="button">
                You forgot your password?
            </button>
        </div>

        <div class="button-bar">
            <button class="my-button" color="primary" mat-raised-button routerLink="/auth/register" type="button">
                Register
            </button>

            <button [disabled]="!loginForm.valid" class="my-button"
                    color="primary" mat-raised-button type="submit">
                Login
            </button>
        </div>
    </form>
</div>
