.register-form {
    min-width: 150px;
    max-width: 500px;
    max-height: 500px;
    margin-top: 150px;
    padding: 20px;
    background-color: #313130;
    width: 100%;
    border: 2px #414140 solid;
    border-radius: 5%;
}

.register-header {
    margin: 5px 5px 15px 5px;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
}

.button-bar {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 100px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: #313130;
}

.register-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -1;
    tab-index: -1;
}

.my-button {
    width: 100px;
    height: 50px;
}

.name-fields {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 500px;
}
