<div class="collaborator-container">
    <div class="info-container">
        <mat-icon matListItemIcon>person</mat-icon>

        <div>
            <div matListItemTitle>{{ collaborator.fullName }}</div>
            <div matListItemLine>{{ collaborator.username }}</div>
        </div>
    </div>

    <button *ngIf="isAlreadyCollaborator" (click)="emitRemoveCollaboratorEvent()" mat-mini-fab color="warn">
        <mat-icon>remove</mat-icon>
    </button>

    <button *ngIf="!isAlreadyCollaborator" (click)="emitAddCollaboratorEvent()" mat-mini-fab color="accent">
        <mat-icon>add</mat-icon>
    </button>
</div>
