.collaborators-container {
    margin-top: 3em;
    width: 50em;
    min-height: 50em;
    padding: 2em;
    margin-bottom: 3em;
}

.collaborators-title {
    padding: 0.5em;
    font-size: 1.7em;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
