<mat-drawer-container autosize class="home-container">
    <mat-drawer #drawer class="sidenav" mode="push">
        <h1>Menu</h1>

        <mat-divider></mat-divider>

        <section class="button-column">
            <button (click)="changeRouteToNewView(RouterPath.PROFILE_DIRECT)" class="menu-option" extended mat-fab>
                <mat-icon>person</mat-icon>
                Profile
            </button>

            <button (click)="changeRouteToNewView(RouterPath.GROUPS_DIRECT)" class="menu-option" extended mat-fab>
                <mat-icon>list</mat-icon>
                Groups
            </button>

            <button (click)="changeRouteToNewView(RouterPath.COLLABORATORS_DIRECT)" class="menu-option" extended mat-fab>
                <mat-icon>group</mat-icon>
                Collaborators
            </button>

            <button (click)="changeRouteToNewView(RouterPath.SEARCH_DIRECT)" class="menu-option" extended mat-fab>
                <mat-icon>search</mat-icon>
                Search
            </button>

            <button (click)="changeRouteToNewView(RouterPath.SESSIONS_DIRECT)" class="menu-option" extended mat-fab>
                <mat-icon>devices</mat-icon>
                Sessions
            </button>

            <button (click)="logoutUser()" class="menu-option" extended mat-fab>
                <mat-icon>logout</mat-icon>
                Logout
            </button>
        </section>
    </mat-drawer>

    <mat-toolbar class="navbar" color="primary">
        <button (click)="drawer.toggle()" aria-label="Menu button" class="menu-icon" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <span>ToDo</span>
    </mat-toolbar>

    <div class="center-container">
        <mat-card class="collaborators-container">
            <mat-card-title class="collaborators-title">Collaborators</mat-card-title>

            <mat-divider></mat-divider>

            <mat-list>
                <app-collaborator *ngFor="let collaborator of collaborators$ | async"
                                  (removeCollaboratorEvent)="removeCollaborator($event)"
                                  [isAlreadyCollaborator]="true"
                                  [collaborator]="collaborator">
                </app-collaborator>
            </mat-list>
        </mat-card>
    </div>
</mat-drawer-container>
