<div class="center-container">
    <mat-card class="collaborators-container">
        <mat-card-title class="collaborators-title">Collaborators</mat-card-title>

        <mat-divider></mat-divider>

        <mat-list>
            <app-collaborator *ngFor="let collaborator of collaborators$ | async"
                              (removeCollaboratorEvent)="removeCollaborator($event)"
                              [isAlreadyCollaborator]="true"
                              [collaborator]="collaborator">
            </app-collaborator>
        </mat-list>
    </mat-card>
</div>
