<div class="reset-password-container">
    <form (ngSubmit)="submitForm()" [formGroup]="resetPasswordForm" class="reset-form">
        <div>
            <h1 class="reset-header">Reset Password Form</h1>

            <div formGroupName="passwordInputs" class="password-inputs">
                <app-password-field [passwordControl]="formValidatorService.passwordControl"
                                    [passwordLabel]="'New Password'"
                                    formControlName="userPassword"
                                    [passwordPlaceholder]="'New Password'">
                </app-password-field>

                <app-password-field [passwordControl]="formValidatorService.repeatPasswordControl"
                                    [passwordLabel]="'Repeat Password'"
                                    formControlName="repeatPassword"
                                    [passwordPlaceholder]="'Repeat Password'">
                </app-password-field>
            </div>

            <input class="login-input" type="date" formControlName="date">
        </div>

        <button class="reset-submit-button" mat-raised-button
                type="submit" color="primary" [disabled]="!resetPasswordForm.valid">
            Submit
        </button>
    </form>
</div>
