@import "../login/login.component.scss";

.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
    width: 40em;
    height: 20em;
    border: 2px #414140 solid;
    border-radius: 1em;
    margin-top: 20em;
}

.login-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -1;
    tab-index: -1;
}

.forgot-password-title {
    display: flex;
    justify-content: center;
    color: white;
}
