<div class="main-container">

    <form (ngSubmit)="sendEmailWithLink()" class="forgot-password-container" [formGroup]="forgotPasswordGroup">
        <h1 class="forgot-password-title">Enter your email</h1>

        <app-email-field [emailControl]="loginValidatorService.emailControl"
                         formControlName="email">
        </app-email-field>

        <input class="login-input" type="datetime-local" formControlName="dateTimeLocal">

        <div class="button-bar">
            <button type="button" class="my-button" routerLink="/auth/login" mat-raised-button color="primary">
                Return
            </button>

            <button class="my-button" mat-raised-button color="primary" [disabled]="!forgotPasswordGroup.valid">
                Send
            </button>
        </div>
    </form>
</div>
