<mat-grid-list cols="4" rowHeight="224px">
    <mat-grid-tile *ngFor="let group of groups$ | async" class="grid-item">
        <app-group [group]="group"></app-group>
    </mat-grid-tile>
</mat-grid-list>

<button (click)="addNewGroup()" class="add-group-button" color="accent" mat-fab>
    <mat-icon>add</mat-icon>
</button>

<div class="separator"></div>

<div class="paginator">
    <mat-divider></mat-divider>

    <mat-paginator (page)="changePage($event)"
                   [length]="(groups$ | async)?.length"
                   [pageSize]="16"
                   aria-label="Select page">
    </mat-paginator>
</div>
