<mat-drawer-container autosize class="home-container">
    <mat-drawer #drawer class="sidenav" mode="push">
        <h1>Menu</h1>

        <mat-divider></mat-divider>

        <section class="button-column">
            <button (click)="changeToProfileView()" class="menu-option" extended mat-fab>
                <mat-icon>person</mat-icon>
                Profile
            </button>

            <button (click)="changeToGroupsView()" class="menu-option" extended mat-fab>
                <mat-icon>list</mat-icon>
                Groups
            </button>

            <button (click)="changeToGroupsView()" class="menu-option" extended mat-fab>
                <mat-icon>group</mat-icon>
                Collaborators
            </button>

            <button (click)="changeToGroupsView()" class="menu-option" extended mat-fab>
                <mat-icon>search</mat-icon>
                Search
            </button>

            <button (click)="logoutUser()" class="menu-option" extended mat-fab>
                <mat-icon>logout</mat-icon>
                Logout
            </button>
        </section>
    </mat-drawer>

    <mat-toolbar class="navbar" color="primary">
        <button (click)="drawer.toggle()" aria-label="Menu button" class="menu-icon" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <span>ToDo</span>
    </mat-toolbar>

    <section class="center-container">
        <mat-card class="profile-container">
            <div>
                <mat-card-header class="profile-title-container">
                    <mat-card-title class="profile-title">Profile</mat-card-title>
                </mat-card-header>

                <mat-divider class="profile-section-separator"></mat-divider>

                <mat-card-content class="profile-section-separator">
                    <mat-card-title>User Info</mat-card-title>

                    <mat-list *ngIf="user$ | async as user">
                        <mat-list-item>
                            <span matListItemTitle>Name</span>

                            <span matListItemLine>{{ user.name }}</span>
                        </mat-list-item>

                        <mat-list-item>
                            <span matListItemTitle>Surname</span>

                            <span matListItemLine>{{ user.surname }}</span>
                        </mat-list-item>

                        <mat-list-item>
                            <span matListItemTitle>Username</span>

                            <span matListItemLine>{{ user.username }}</span>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </div>

            <button (click)="closeAccount()" color="warn" mat-stroked-button>
                <mat-icon>delete</mat-icon>

                Delete account
            </button>
        </mat-card>
    </section>
</mat-drawer-container>
