<section class="center-container">
    <mat-card class="profile-container">
        <div>
            <mat-card-header class="profile-title-container">
                <mat-card-title class="profile-title">Profile</mat-card-title>
            </mat-card-header>

            <mat-divider class="profile-section-separator"></mat-divider>

            <mat-card-content *ngIf="user$ | async as user" class="profile-section-separator">
                <mat-card-title>User Info</mat-card-title>

                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>Name</span>

                        <span matListItemLine>{{ user.name }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <span matListItemTitle>Surname</span>

                        <span matListItemLine>{{ user.surname }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <span matListItemTitle>Username</span>

                        <span matListItemLine>{{ user.username }}</span>
                    </mat-list-item>
                </mat-list>

                <mat-card-title>Social Accounts</mat-card-title>

                <mat-list>
                    <mat-list-item *ngFor="let social of user.socials">
                        <span matListItemMeta>{{ social.socialPlatform }}</span>

                        <span matListItemTitle>{{ social.socialName }}</span>

                        <span matListItemLine>{{ social.socialLink }}</span>

                        <button matListItemMeta mat-mini-fab
                                color="warn" (click)="removeAccount(social.socialAccountId)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </div>

        <button (click)="closeAccount()" color="warn" mat-stroked-button>
            <mat-icon>delete</mat-icon>

            Delete account
        </button>
    </mat-card>
</section>
