<mat-drawer-container autosize class="home-container">
    <mat-drawer #drawer class="sidenav" mode="push">
        <h1>Menu</h1>

        <mat-divider></mat-divider>

        <section class="button-column">
            <button (click)="changeToProfileView()" class="menu-option" extended mat-fab>
                <mat-icon>person</mat-icon>
                Profile
            </button>

            <button (click)="changeToGroupsView()" class="menu-option" extended mat-fab>
                <mat-icon>list</mat-icon>
                Groups
            </button>

            <button (click)="changeToCollaboratorsView()" class="menu-option" extended mat-fab>
                <mat-icon>group</mat-icon>
                Collaborators
            </button>

            <button (click)="changeToGroupsView()" class="menu-option" extended mat-fab>
                <mat-icon>search</mat-icon>
                Search
            </button>

            <button (click)="logoutUser()" class="menu-option" extended mat-fab>
                <mat-icon>logout</mat-icon>
                Logout
            </button>
        </section>
    </mat-drawer>

    <mat-toolbar class="navbar" color="primary">
        <button (click)="drawer.toggle()" aria-label="Menu button" class="menu-icon" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <span>ToDo</span>
    </mat-toolbar>

    <div class="center-container">
        <mat-card class="tasks-container">
            <div class="group-header">
                <mat-card-title>{{ group.groupName }}</mat-card-title>

                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <mat-divider class="container-divider"></mat-divider>

            <mat-accordion class="headers-align">
                <mat-expansion-panel *ngFor="let task of notCompletedTasks$ | async">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ task.title }}
                        </mat-panel-title>

                        <mat-panel-description>
                            {{ task.dueDate }}
                            <mat-icon>task</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-panel-description>
                        {{ task.description }}
                    </mat-panel-description>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-divider class="container-divider"></mat-divider>

            <h3>Completed</h3>

            <mat-accordion class="headers-align">
                <mat-expansion-panel *ngFor="let task of notCompletedTasks$ | async">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="completed-header">
                            {{ task.title }}
                        </mat-panel-title>

                        <mat-panel-description>
                            <span class="completed-header">{{ task.dueDate }}</span>

                            <mat-icon>task</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-panel-description>
                        {{ task.description }}
                    </mat-panel-description>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>
    </div>
</mat-drawer-container>
